<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="/style.css" />
  <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="/semantic.min.js"></script>

  <title>CRM</title>

</head>
<body>
<div th:replace="fragments :: header"></div>

<body>
<div class="ui main text container">
  <h2 class="ui header">Ustawienia strony</h2>
  <hr/>
  <form class="ui form" th:action="@{/settings}" method="post" th:object="${settingsForm}">
    <div class="two fields">
      <div class="field">
        <label for="field1">field1:<span th:if="${field1Error == 1}" class="error">  (ma być w zakresie do 255 znaków)</span></label>
        <input type="text" name="field1" id="field1" th:value="${settingsForm.field1}">
      </div>
      <div class="field">
        <label for="field2">field2:<span th:if="${field2Error == 1}" class="error">  (ma być w zakresie do 255 znaków)</span></label>
        <input type="text" name="field2" id="field2" th:value="${settingsForm.field2}">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="field3">field3:<span th:if="${field3Error == 1}" class="error">  (ma być w zakresie do 255 znaków)</span></label>
        <input type="text" name="field3" id="field3" th:value="${settingsForm.field3}">
      </div>
      <div class="field">
        <label for="field4">field4:<span th:if="${field4Error == 1}" class="error">  (ma być w zakresie do 255 znaków)</span></label>
        <input type="text" name="field4" id="field4" th:value="${settingsForm.field4}">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="field5">field5:</label>
        <input type="text" name="field5" id="field5" th:value="${settingsForm.field5}">
      </div>
      <div class="field">
        <label for="field6">field6:</label>
        <input type="text" name="field6" id="field6" th:value="${settingsForm.field6}">
      </div>
    </div>
    <div class="field">
      <label for="field7">field7:</label>
      <input type="text" name="field7" id="field7" th:value="${settingsForm.field7}">
    </div>
    <br/><hr/>
    <div class="two fields">
      <div class="field">
        <label for="check1">check1:</label>
        <input type="text" name="check1" id="check1" th:value="${settingsForm.check1}">
      </div>
      <div class="field">
        <label for="check2">check2:</label>
        <input type="text" name="check2" id="check2" th:value="${settingsForm.check2}">
      </div>
    </div>
    <div class="field">
      <label for="check3">check3:</label>
      <input type="text" name="check3" id="check3" th:value="${settingsForm.check3}">
    </div>
    <div style="text-align: right">
      <button type="submit" class="ui positive labeled icon button">
        <i class="checkmark icon"></i>Dodaj
      </button>
    </div>
  </form>

</div>

<div th:replace="fragments :: footer-margin"></div>

<script>
  $('.ui.checkbox')
          .checkbox()
  ;
</script>

</body>
</html>